.menu{
background-color: rgb(251, 255, 0);
    display:flex;
justify-content:space-evenly

}
.grid{
    display:flex
 
}
.origami{
border-radius: 20px;
background-color: white;
width: 310px;
font-family: fantasy;
}